src/org/schors/evlampia/tracker/wsdl/axis/OperationHistory.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014 schors
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<definitions xmlns:tns="http://russianpost.org/operationhistory"
             xmlns:msg="http://russianpost.org/operationhistory/data" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="OperationHistory" targetNamespace="http://russianpost.org/operationhistory">

    <types>
        <xsd:schema>
            <xsd:import
                    schemaLocation="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory?xsd=1"
                    namespace="http://russianpost.org/operationhistory/data"/>
        </xsd:schema>
    </types>

    <message name="getOperationHistoryIn">
        <part name="historyRequest" element="msg:OperationHistoryRequest"/>
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"/>
    </message>

    <message name="getOperationHistoryOut">
        <part name="messagePart" element="msg:OperationHistoryData"/>
    </message>

    <message name="AuthorizationFault">
        <part name="Reason" element="msg:AuthorizationFaultReason"/>
    </message>

    <message name="OperationHistoryFault">
        <part name="Reason" element="msg:OperationHistoryFaultReason"/>
    </message>

    <message name="UpdateOperationDataRequest">
        <part name="UpdateRequest" element="msg:UpdateOperationRequest"/>
        <part name="AuthorizationHeader" element="msg:AuthorizationHeader"/>
    </message>

    <message name="UpdateOperationDataResponse">
        <part name="messagePart" element="msg:OperationHistoryData"/>
    </message>

    <portType name="OperationHistoryInterface">
        <operation name="GetOperationHistory">
            <input message="tns:getOperationHistoryIn"/>
            <output message="tns:getOperationHistoryOut"/>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"/>
            <fault name="OperationHistoryFault" message="tns:OperationHistoryFault"/>
        </operation>
        <operation name="UpdateOperationData">
            <input message="tns:UpdateOperationDataRequest"/>
            <output message="tns:UpdateOperationDataResponse"/>
            <fault name="AuthorizationFault" message="tns:AuthorizationFault"/>
            <fault name="OperationHistoryFault" message="tns:OperationHistoryFault"/>
        </operation>
    </portType>

    <binding name="WebOperationHistory" type="tns:OperationHistoryInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetOperationHistory">
            <soap:operation style="document"/>
            <input>
                <soap:header message="tns:getOperationHistoryIn" part="AuthorizationHeader" use="literal"/>
                <soap:body use="literal" parts="historyRequest"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"/>
            </fault>
            <fault name="OperationHistoryFault">
                <soap:fault name="OperationHistoryFault" use="literal"/>
            </fault>
        </operation>
        <operation name="UpdateOperationData">
            <soap:operation style="document"/>
            <input>
                <soap:header message="tns:UpdateOperationDataRequest" part="AuthorizationHeader" use="literal"/>
                <soap:body use="literal" parts="UpdateRequest"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AuthorizationFault">
                <soap:fault name="AuthorizationFault" use="literal"/>
            </fault>
            <fault name="OperationHistoryFault">
                <soap:fault name="OperationHistoryFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="OperationHistory">
        <port name="OperationHistory" binding="tns:WebOperationHistory">
            <soap:address location="http://voh.russianpost.ru:8080/niips-operationhistory-web/OperationHistory"/>
        </port>
    </service>
</definitions>